extends layout

block content
  h1= title
  center
    table(style='width:100%', border='1')
      thead
        tr
          th Original URL
          th Short URL
          th Times Loaded
      tbody
        each row in rows
          tr 
            //- Deliberately not linking to URL's to reduce security
            //- issues (e.g., 1-click malware)
            td #{row.original_url}
            td #{row.short_url}
            td #{row.load_count}
    if rows.length > 0
      a(href='/download-stats') Download stats CSV
